<div class="modal fade">
    <div class="modal-backdrop fade">
        <div class="modal-dialog">
           <div class="modal-content">
               <div class="modal-header">
                   <button type="button" class="close" ng-click="hide(true)"><span>X</span></button>
                   <h4 class="modal-title">Title</h4>
               </div>
               <div class="modal-body">

               </div>
               <div class="modal-footer">
                   <button type="button" class="btn btn-default" ng-click="Confirm()">Confirm</button>
                   <button type="button" class="btn btn-warning" ng-click="Cancel()">Cancel</button>
               </div>
           </div>
        </div>
    </div>
</div>